<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ca1da9e-f400-4810-b3ca-28b37136f4e4" Alias="Chair3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chair3</Path>
    <Trashed>false</Trashed>
    <ContentType>productItem</ContentType>
    <CreateDate>2024-11-07T13:31:45</CreateDate>
    <NodeName Default="Chair3" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <articleImage>
      <Value><![CDATA[[
  {
    "key": "cf0f3f5a-822d-482d-a473-44233485f529",
    "mediaKey": "c1757281-a88a-4cf5-88e2-349928783619",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleImage>
    <articleText>
      <Value><![CDATA[Tron]]></Value>
    </articleText>
    <price>
      <Value><![CDATA[3543]]></Value>
    </price>
  </Properties>
</Content>