<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c2b5a05-93f5-4375-aa72-822742194fd5" Alias="Chair2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chair2</Path>
    <Trashed>false</Trashed>
    <ContentType>productItem</ContentType>
    <CreateDate>2024-11-07T13:31:27</CreateDate>
    <NodeName Default="Chair2" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <articleImage>
      <Value><![CDATA[[
  {
    "key": "5d65e2b4-15d6-4225-9232-c7f9ae436bbb",
    "mediaKey": "b9ad47a6-68ea-4ef6-98d0-61ad11c8d486",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleImage>
    <articleText>
      <Value><![CDATA[Matstol]]></Value>
    </articleText>
    <price>
      <Value><![CDATA[32432]]></Value>
    </price>
  </Properties>
</Content>