<?xml version="1.0" encoding="utf-8"?>
<Content Key="65cc4ef2-7747-4d46-8225-ff2d69a94553" Alias="MasterTemplate" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MasterTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>masterTemplate</ContentType>
    <CreateDate>2024-11-06T14:13:07</CreateDate>
    <NodeName Default="MasterTemplate" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="acec346b-a999-4ac4-8538-0d3fc91ee0f3">masterTemplate</Template>
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[Hej]]></Value>
    </footerText>
    <header>
      <Value><![CDATA[Hej]]></Value>
    </header>
  </Properties>
</Content>