<?xml version="1.0" encoding="utf-8"?>
<Content Key="11e8ca83-faa9-4e19-b115-69bece543c0b" Alias="Stolar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Stolar</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-11-07T13:29:31</CreateDate>
    <NodeName Default="Stolar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fee2282a-e692-4a82-9fc9-0478f53181e5">homePage</Template>
  </Info>
  <Properties>
    <products>
      <Value><![CDATA[umb://document/cb65aba5fc824b2f921a5e5a0fff68e7,umb://document/9c2b5a0593f54375aa72822742194fd5,umb://document/0ca1da9ef4004810b3ca28b37136f4e4]]></Value>
    </products>
  </Properties>
</Content>