<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cffc7b3-f079-41cf-bfd9-bca570481b3f" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>masterTemplate</ContentType>
    <CreateDate>2024-10-31T13:26:17</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="acec346b-a999-4ac4-8538-0d3fc91ee0f3">masterTemplate</Template>
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[Copyright Nokea 2024]]></Value>
    </footerText>
    <header>
      <Value><![CDATA[Yes]]></Value>
    </header>
  </Properties>
</Content>