<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22d5df36-38d2-48e0-934d-43e1bdd547cd" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fee2282a-e692-4a82-9fc9-0478f53181e5">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e477bc15-52cc-4975-ac6c-bfd4c7a96398" SortOrder="0">productItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>22ff7340-12d5-4394-b3f3-cfced79e7f8e</Key>
      <Name>Products</Name>
      <Alias>products</Alias>
      <Definition>67c68abc-9005-4e7f-b24a-69aca7e82c24</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="products">Products</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4aecd9ce-d97e-4f2b-961f-28f29477c380</Key>
      <Caption>Products</Caption>
      <Alias>products</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>