<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9ad47a6-68ea-4ef6-98d0-61ad11c8d486" Alias="Chair2" Level="2">
  <Info>
    <Parent Key="249b60ae-8e25-482a-8ea4-b49eb08eaed8">Images</Parent>
    <Path>/Images/Chair2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-07T13:28:56</CreateDate>
    <NodeName Default="Chair2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fggpwd2d/chair2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>