<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef5fe8d5-c737-478c-9d31-78f96aab1c84" Alias="Chair1" Level="2">
  <Info>
    <Parent Key="249b60ae-8e25-482a-8ea4-b49eb08eaed8">Images</Parent>
    <Path>/Images/Chair1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-07T13:28:08</CreateDate>
    <NodeName Default="Chair1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lirbswk4/chair1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>