<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cb9d9e6-454f-49d5-8825-d06362a9d749" Alias="Market" Level="2">
  <Info>
    <Parent Key="249b60ae-8e25-482a-8ea4-b49eb08eaed8">Images</Parent>
    <Path>/Images/Market</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-31T13:55:10</CreateDate>
    <NodeName Default="Market" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nejp5grg/68b831e24e1137eb700a9ab6e2aed5ad.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>