<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4d5aab8-2816-460d-a1f1-580f66d09194" Alias="Nokea-icon" Level="2">
  <Info>
    <Parent Key="249b60ae-8e25-482a-8ea4-b49eb08eaed8">Images</Parent>
    <Path>/Images/NokeaIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-31T13:54:24</CreateDate>
    <NodeName Default="Nokea-icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/g3qjgqt5/539db6cd4293b2f8cc44b927a1c120e2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>